@model DataStorage.App.ViewModels.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@{
    ViewData["Title"] = "Forgot password";
}
<div class="formhandler">
    <form asp-action="ForgotPassword" asp-controller="Account" asp-anti-forgery="true" class="validate">
        <div class="formlabel">
            <h3>Forgot password?</h3>
            <span>To reset your password input your email address and check it for the reset password letter</span>
        </div>
        <span class="signerrormessage">@ViewData["UserExistErrorMessage"]</span>
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div class="form-group-handler">
            <div class="form-group">
                <input placeholder=" " required pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" asp-for="Email" />
                <label asp-for="Email" class="elemental">Email</label>
                <span asp-validation-for="Email" class="validation-message collapse">* Email should look like this: example@@gmail.com</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn" />
            </div>
        </div>
    </form>
</div>