@model DataStorage.App.ViewModels.ForgotPasswordViewModel

@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="formhandler">
   <div class="formlabel">
      <h3>Forgot Password?</h3>
      <span>To reset your password input your email address and check it for the reset password letter</span>
   </div>

   <form asp-action="ForgotPassword" asp-controller="Account" asp-anti-forgery="true">
      <div class="validation" asp-validation-summary="ModelOnly" />
      <div>
         <div class="form-group">
            <input placeholder=" " required pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" asp-for="Email" />
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" />
         </div>
         <div class="form-group subm">
            <input type="submit" value="Send" class="btn" />
         </div>
      </div>
   </form>
</div>