@model DataStorage.App.ViewModels.ForgotPasswordViewModel

@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "Forgot Password?";
}

<div class="wrapper-center">
    <div class="formhandler">
        <!--Forgot Password-->
        <div class="formlabel">
            <h3>Forgot Password?</h3>
        </div>
        <form asp-action="ForgotPassword" asp-controller="Account" asp-anti-forgery="true" class="validate">
            <div class="form-group">
               <input placeholder=" " required pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" asp-for="Email" />
               <label asp-for="Email" class="elemental">Email</label>
            </div>
            <div class="form-group sign">
               <input type="submit" value="Send" class="btn" />
            </div>
        </form>
    </div>
</div>