@model DataStorage.App.ViewModels.LoginViewModel

    <div class="formhandler">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="formlabel">
                <h3>Login</h3>
            </div>
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div class="form-group-handler">
                <div class="form-group">
                    <input placeholder=" " required pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" asp-for="Email" />
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <input placeholder=" " required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" asp-for="Password" />
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign in" class="btn" />

                    <div class="subm">
                        <label id="txtlabel" for="rem">Remember me</label>
                        <div class="remme">
                            <input id="rem" asp-for="rememberMe" type="checkbox">
                            <label for="rem"></label>
                        </div>
                    </div>

                </div>
                <p class="links">
                    <a asp-action="Register" asp-controller="Account">Forgot your password?</a> |
                    <a asp-action="Register" asp-controller="Account">Create new account</a>
                </p>
            </div>
        </form>
    </div>


