@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <!--<a asp-action="Register" asp-controller="Account">Sign Up</a>-->
        @Html.ActionLink("Sign Up", "Register", "Account");
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <!--<a asp-action="Register" asp-controller="Account">Sign Up</a>-->
        @Html.ActionLink("Sign In", "Login", "Account");
    </div>
</div>