@{
    ViewData["Title"] = "Home Page";
}

<a id="top"></a>
    <div class="wrapper ustorage">
        <div class="header">
            <a asp-action="Welcome" asp-controller="Home" class="logo">Logo</a>
            <nav class="m-menu">
                <ul>
                    <li><a asp-action="LogOut" asp-controller="Account">LogOut</a></li>
                </ul>
            </nav>
        </div>

        <div class="main">
            <div class="leftbar">

            </div>
            <div class="workspace">
                
            </div>
        </div>
    </div>
