@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <!--<a asp-action="Register" asp-controller="Account">Sign Up</a-->
        @Html.ActionLink("Sign Up#2", "Register", "Account");
    </div>
</div>
