
@{
    ViewData["Title"] = "Welcome";
}

    <div class="header">
        <a asp-action="Welcome" asp-controller="Home" class="logo">Logo</a>
        <nav class="m-menu">
            <ul>
                <li><a href=""></a></li>
                <li><a asp-action="Login" asp-controller="Account">Sign In</a></li>|
                <li><a asp-action="Register" asp-controller="Account">Sign Up</a></li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <div class="slider"></div>

        <div class="block l-block">
            <h3 class="caption">Caption</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ea dolor consequatur at? Dolor ab facilis nostrum quia, dolorem nisi officia aliquam modi sit mollitia, architecto porro tenetur, debitis nihil. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate adipisci harum inventore, amet doloribus, voluptates nemo, praesentium temporibus corporis natus ab ea? Maiores, ea quibusdam. Delectus blanditiis obcaecati alias esse.</p>
            <h3 class="caption underline" id="ftr">Features</h3>
            <ul class="f-handler">
                <li class="f-block">
                    <div class="bimg"></div>
                    <h4 class="bcap">1st Feature</h4>
                    <div class="bhr"></div>
                    <p class="btext">Lorem ipsum dolor sit amet consectetur sit amet!</p>
                </li>
                <li class="f-block">
                    <div class="bimg"></div>
                    <h4 class="bcap">2st Feature</h4>
                    <div class="bhr"></div>
                    <p class="btext">Lorem ipsum dolor sit amet consectetur est? Nihil, maiores!</p>
                </li>
                <li class="f-block">
                    <div class="bimg"></div>
                    <h4 class="bcap">2st Feature</h4>
                    <div class="bhr"></div>
                    <p class="btext">Lorem ipsum exercitationem est? Nihil, maiores!</p>
                </li>
            </ul>
        </div>

        <div class="block d-block">
            <h3 class="caption">Another Caption</h3>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore ratione harum blanditiis excepturi maxime commodi numquam quo culpa. Similique sapiente magnam laborum ipsam aperiam harum voluptatibus adipisci, fugiat mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laudantium ab quis, voluptates illum sapiente sunt omnis laboriosam consectetur nisi veritatis adipisci dicta, inventore vitae necessitatibus exercitationem est? Nihil, maiores!</p>
        </div>
    </div>

    <div class="footer">

    </div>