html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  scroll-behavior: smooth;
}

html ul, html li, body ul, body li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html a, body a {
  text-decoration: none;
  color: #000;
}

html a:hover, body a:hover {
  text-decoration: none;
}

html h3, html h4, body h3, body h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html input, body input {
  border: none;
  outline: none;
  background-color: transparent;
}

.windowwrap {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windowwrap .formhandler {
  padding: 20px 35px;
  border: 2px solid #056839;
  border-radius: 8px;
}

.windowwrap .formlabel h3 {
  text-align: center;
  margin-bottom: 25px;
}

.windowwrap form {
  width: 60vw;
  min-width: 315px;
  max-width: 540px;
}

.windowwrap .btn-google {
  width: 100%;
  margin-bottom: 25px;
}

.windowwrap .form-group-handler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: calc(40vh - 63px);
  min-height: 248px;
}

.windowwrap .form-group {
  position: relative;
  margin: 5px 0;
}

.windowwrap .form-group label {
  font-size: 1.2em;
  position: absolute;
  padding: 0 5px;
  z-index: 2;
  left: 8px;
  top: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.windowwrap .form-group .validation-message {
  color: red;
  font-size: 0.8em;
}

.windowwrap .form-group input[type="text"], .windowwrap .form-group input[type="password"] {
  font-size: 1.3em;
  padding: 5px 13px;
  border: 2px solid #056839;
  border-radius: 5px;
  width: 100%;
}

.windowwrap .form-group input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
.windowwrap .form-group input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: red;
}

.windowwrap .form-group input[type="text"]:valid,
.windowwrap .form-group input[type="password"]:valid {
  border-color: #056839;
}

.windowwrap .form-group input[type="text"]:focus,
.windowwrap .form-group input[type="password"]:focus {
  border-color: #2593c4;
}

.windowwrap .form-group input[type="text"] + .error,
.windowwrap .form-group input[type="password"] + .error {
  font-size: 0.8em;
  color: red;
  top: 50px;
}

.windowwrap .form-group input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + .elemental,
.windowwrap .form-group input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + .elemental,
.windowwrap .form-group input[type="text"]:valid + .elemental,
.windowwrap .form-group input[type="password"]:valid + .elemental,
.windowwrap .form-group input[type="text"]:focus + .elemental,
.windowwrap .form-group input[type="password"]:focus + .elemental {
  font-size: 0.8em;
  top: -9px;
}

.windowwrap .form-group input[type="submit"] {
  min-width: 70px;
  min-height: 35px;
  background-color: #056839;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.windowwrap .form-group input[type="submit"]:hover {
  border-color: #056839;
  background-color: #fff;
  color: #056839;
  font-weight: bold;
}

.windowwrap .form-group input[type="checkbox"] {
  display: none;
}

.windowwrap .form-group input[type="checkbox"] + label {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.windowwrap .form-group input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  border: 2px solid #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.windowwrap .form-group input[type="checkbox"]:checked + label::before {
  border-color: #056839;
  -webkit-transform: translate(10px, 0) rotate(45deg);
          transform: translate(10px, 0) rotate(45deg);
  width: 10px;
  border-top-style: none;
  border-left-style: none;
}

.windowwrap .form-group:last-of-type {
  margin-bottom: 20px;
  min-width: 160px;
  width: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.windowwrap .subm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windowwrap .subm .remme {
  position: relative;
  height: 20px;
  width: 20px;
}

.windowwrap #txtlabel {
  position: relative;
  font-size: 1.1em;
  padding: 0;
  margin: 0 10px 0 0;
  left: 0;
  top: 0;
}

.windowwrap label[for=rem] {
  top: 3px;
  left: 15px;
}

.windowwrap .links {
  text-align: center;
}

.windowwrap .links a {
  color: #2593c4;
  cursor: pointer;
}

.windowwrap .links a:hover {
  color: #2593c4;
  cursor: pointer;
  text-decoration: underline;
}

.wrapper {
  min-width: 405px;
}

.header {
  padding: 5px 30px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  min-width: 405px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  background-color: rgba(5, 104, 57, 0.7);
}

.header a {
  color: #fff;
}

.header .logo {
  font-size: 1.8em;
  letter-spacing: 5px;
}

.header .m-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .m-menu ul li {
  margin: 0 15px;
}

.header .m-menu ul li a {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  letter-spacing: 2px;
  font-size: 1.1em;
}

.header .m-menu ul li a:hover {
  color: #dbdbdb;
}

.main {
  font-family: Calibri;
}

.main .carousel {
  max-height: 100vh;
  overflow: hidden;
}

.main .block {
  padding: 40px 0;
}

.main .block .caption {
  text-align: center;
  margin: 25px 0;
}

.main .block .text {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  max-width: 600px;
}

.main .block .f-handler {
  margin: 30px auto;
}

.main .block .blockhan {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .block .block-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .block .block-f .bcap {
  margin: 10px 0;
  font-size: 1.2em;
}

.main .block .block-f .bhr {
  position: relative;
  width: 70%;
  height: 2px;
  background-color: #d5632a;
  margin: 10px 0;
}

.main .block .block-f .bimg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #056839;
}

.main .block .block-f .btext {
  text-align: center;
  width: 60%;
  min-width: 100px;
  margin: 0 auto;
}

.main .block-d {
  background-color: #d5632a;
  color: #fff;
}

.footer {
  padding: 5px 30px;
  height: 100px;
  background-color: #056839;
  color: #fff;
}

.footer i {
  color: #fff;
}

.footer .scrolltop {
  text-align: center;
  margin: 15px auto;
  display: block;
}

.footer .copyright {
  text-align: center;
  margin: 15px 0;
}

.ustorage .header {
  position: absolute;
}

.ustorage .main {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
  min-height: 100vh;
}

.ustorage .main .leftbar {
  border-right: 2px solid #ccc;
  padding: 10px;
}

.ustorage .main .workspace {
  padding: 10px;
}

.ustorage .main .workspace .fileblockhandler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ustorage .main .workspace .fileblockhandler .block {
  margin: 10px;
  background-color: red;
  min-width: 229px;
  max-width: 230px;
  min-height: 200px;
  padding: 0;
  overflow: hidden;
}

.ustorage .main .workspace .fileblockhandler .block .img {
  height: 80%;
  background-color: green;
}

.ustorage .main .workspace .fileblockhandler .block .caption {
  margin: 0;
  font-size: 1.1em;
  padding: 5px 15px;
  width: 80%;
  background-color: yellow;
  height: 20%;
  overflow: hidden;
  float: left;
}
/*# sourceMappingURL=main.css.map */