.ustorage .header {
  position: fixed;
}

.ustorage .header .search_handler {
  min-width: 250px;
  position: relative;
  width: 50%;
}

.ustorage .header .search_handler input[type="text"] {
  width: 100%;
  background-color: #fff;
  padding-right: 50px;
}

.ustorage .header .search_handler button {
  position: absolute;
  top: 4px;
  right: 5px;
  background-color: transparent;
}

.ustorage .main {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
  min-height: 100vh;
}

.ustorage .main .leftbar {
  border-right: 3px solid #ccc;
  padding: 10px;
}

.ustorage .main .leftbar .menu-dropdown {
  display: none;
}

.ustorage .main .leftbar .menu-button {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin: 15px auto;
  border: 2px solid #ccc;
  color: #333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  font-size: 1.3em;
  font-weight: bold;
}

.ustorage .main .leftbar .menu-button:hover {
  border-color: #d5632a;
}

.ustorage .main .leftbar .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.ustorage .main .leftbar .inputfile + label {
  max-width: 100%;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
  background-color: #056839;
  border: 2px solid transparent;
}

.ustorage .main .leftbar .inputfile + label span {
  color: #fff;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ustorage .main .leftbar .inputfile:focus + label,
.ustorage .main .leftbar .inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.ustorage .main .leftbar .inputfile:focus + label,
.ustorage .main .leftbar .inputfile.has-focus + label,
.ustorage .main .leftbar .inputfile + label:hover {
  background-color: #fff;
  border-color: #056839;
}

.ustorage .main .leftbar .inputfile:focus + label span,
.ustorage .main .leftbar .inputfile.has-focus + label span,
.ustorage .main .leftbar .inputfile + label:hover span {
  color: #056839;
}

.ustorage .main .leftbar .submit, .ustorage .main .leftbar .settings-item {
  width: 100%;
  height: 45px;
  background-color: #056839;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
  cursor: pointer;
}

.ustorage .main .leftbar .submit:hover, .ustorage .main .leftbar .settings-item:hover {
  background-color: #fff;
  color: #056839;
  border-color: #056839;
}

.ustorage .main .leftbar .settings-item {
  display: block;
  font-size: 1.1em;
  padding: 5px 13px;
}

.ustorage .main #percentageContainer {
  color: grey;
  width: 200px;
  min-height: 15px;
  text-align: left;
  margin: 10px auto 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.ustorage .main #percentageValue {
  background-color: #056839;
  height: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}

.ustorage .main h5 {
  text-align: center;
  margin-top: 10px;
}

.ustorage .main .workspace {
  padding: 10px;
}

.ustorage .main .workspace #dropzoneForm {
  border: 4px dashed transparent;
  min-height: calc(100vh - 80px);
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ustorage .main .workspace .sectionname {
  padding: 10px;
}

.ustorage .main .workspace .sectionmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.ustorage .main .workspace .sectionmenu .oppensortdropdown {
  cursor: pointer;
  outline: none;
}

.ustorage .main .workspace .sectionmenu .sortmenu {
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 10;
  background-color: #fff;
  width: 120px;
  border: 2px solid #056839;
  border-radius: 5px;
}

.ustorage .main .workspace .sectionmenu .sortmenu .itemhandler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ustorage .main .workspace .sectionmenu .sortmenu .itemhandler a {
  font-size: 1.5em;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.ustorage .main .workspace .sectionmenu .sortmenu .itemhandler a:hover {
  color: #fff;
  background-color: #056839;
}

.ustorage .main .workspace .documenthandler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ustorage .main .workspace .documenthandler .dz-file-prewiew {
  display: none !important;
}

.ustorage .main .workspace .documenthandler .block {
  background-color: #fff;
  border: 2px solid #056839;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ustorage .main .workspace .documenthandler .block .caption {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ustorage .main .workspace .documenthandler .block .eventhandler {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
}

.ustorage .main .workspace .documenthandler .block .buttonmenu {
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  right: 10px;
}

.ustorage .main .workspace .documenthandler .block .documentoptions {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: #fff;
}

.ustorage .main .workspace .documenthandler .block .documentoptions .funchandler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ustorage .main .workspace .documenthandler .block .documentoptions .funchandler .func {
  padding: 0 10px;
  width: 100%;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ustorage .main .workspace .documenthandler .block .documentoptions .funchandler .func:hover {
  background-color: #056839;
  color: #fff;
}

.ustorage .main .workspace .documenthandler .block:hover {
  -webkit-transform: translate(-3px, -5px) scale(1.01);
          transform: translate(-3px, -5px) scale(1.01);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.ustorage .main .workspace .documenthandler .increase {
  height: 210px !important;
}

.ustorage .main .workspace .documenthandler .folderblock {
  height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.ustorage .main .workspace .documenthandler .folderblock .brow {
  height: calc(inherit - 20px);
}

.ustorage .main .workspace .documenthandler .folderblock .fdimg {
  background: url("../images/folder.png");
  width: 50px;
  height: 56px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ustorage .main .workspace .documenthandler .folderblock .caption {
  width: 85px;
  overflow: hidden;
}

.ustorage .main .workspace .documenthandler .folderblock .buttonmenu {
  top: 23px;
}

.ustorage .main .workspace .documenthandler .fileblock {
  height: 210px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.ustorage .main .workspace .documenthandler .fileblock .brow {
  width: calc(inherit - 20px);
}

.ustorage .main .workspace .documenthandler .fileblock .fimg {
  background: url("../images/file.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(inherit - 20px);
  height: 150px;
}

.ustorage .main .workspace .documenthandler .fileblock .caption {
  min-height: 50px;
  padding: 10px 0;
}

.ustorage .main .workspace .documenthandler .fileblock .buttonmenu {
  bottom: 7px;
}
/*# sourceMappingURL=storage.css.map */