.ustorage .header {
  position: fixed;
}

.ustorage .header .search_handler {
  min-width: 250px;
  position: relative;
  width: 50%;
}

.ustorage .header .search_handler input[type="text"] {
  width: 100%;
  background-color: #fff;
  padding-right: 50px;
}

.ustorage .header .search_handler button {
  position: absolute;
  top: 4px;
  right: 5px;
  background-color: transparent;
}

.ustorage .main {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
  min-height: 100vh;
}

.ustorage .main .leftbar {
  border-right: 2px solid #ccc;
  padding: 10px;
}

.ustorage .main .leftbar .create {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin: 15px auto;
  border: 2px solid #ccc;
  color: #333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  font-size: 1.3em;
  font-weight: bold;
}

.ustorage .main .leftbar .create:hover {
  border-color: #d5632a;
}

.ustorage .main .leftbar .dropdownmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ustorage .main .workspace {
  padding: 10px;
}

.ustorage .main .workspace .fileblockhandler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ustorage .main .workspace .fileblockhandler .block {
  margin: 7px 10px;
  min-width: 199px;
  max-width: 200px;
  min-height: 200px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15px 5px;
  background-color: #ccc;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.ustorage .main .workspace .fileblockhandler .block .brow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ustorage .main .workspace .fileblockhandler .block .fimg, .ustorage .main .workspace .fileblockhandler .block .fdimg {
  min-height: 140px;
  min-width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 5px;
}

.ustorage .main .workspace .fileblockhandler .block .fimg {
  background-image: url("../images/file.png");
}

.ustorage .main .workspace .fileblockhandler .block .fdimg {
  background-image: url("../images/folder.png");
}

.ustorage .main .workspace .fileblockhandler .block .caption {
  margin: 0;
  font-size: 1.1em;
  padding: 5px 15px;
  width: 80%;
  height: 100%;
  overflow: hidden;
  float: left;
}

.ustorage .main .workspace .fileblockhandler .block .cntr-btns {
  width: 20%;
}

.ustorage .main .workspace .fileblockhandler .block .cntr-btns #moreoptions {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 8px;
}

.ustorage .main .workspace .fileblockhandler .block .contextmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  padding: 5px 15px;
}

.ustorage .main .workspace .fileblockhandler .block .contextmenu .func {
  font-size: 1.3em;
  margin: 5px 0;
  border-bottom: 1px solid #666;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ustorage .main .workspace .fileblockhandler .block .contextmenu .func:hover {
  text-align: center;
}

.ustorage .main .workspace .fileblockhandler .block:hover {
  -webkit-transform: translate(-3px, -5px) scale(1.01);
          transform: translate(-3px, -5px) scale(1.01);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=storage.css.map */