@model IEnumerable<DataStorage.BLL.DTOs.DocumentDTO>
    
<div class="wrapper ustorage">
    <div class="header">
        <a asp-action="Welcome" asp-controller="Home" class="logo">Logo</a>
        <nav class="m-menu">
            <ul>
                <li><a asp-action="LogOut" asp-controller="Account">LogOut</a></li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <div class="leftbar">
            <form asp-action="CreateFile" asp-controller="Document" method="post" enctype="multipart/form-data">
                <input name="uploadedFile" type="file">
                <input type="submit" value="Upload">
            </form>
            <form asp-action="CreateFolder" asp-controller="Document" method="post">
                <input name="FolderName" type="text">
                <input type="submit" value="Create">
            </form>
        </div>

        <div class="workspace">
            <h3>All files:</h3>
            <div class="fileblockhandler">
                @foreach(var file in Model)
                {
                    <div class="block fileblock">
                        <div class="brow">
                            <input type="hidden" value='@file.DocumentId' id="hiddenblockid">
                            @if(file.IsFile == true)
                            {
                                <text><div class="fimg"></div></text>
                            } else 
                            {
                                <text><div class="fdimg"></div></text>
                            } 
                        </div>
                        <div class="brow">
                            <h3 class="caption"><marquee behavior="scroll" direction="left">@file.Name</marquee></h3>
                            <div class="cntr-btns">
                                <i class="fas fa-angle-up" id="moreoptions"></i>
                            </div>
                        </div>       
                        
                    </div>
                }
            <hr />
            </div>
        </div>
    </div>
</div>
